*~
*.o
*.lo
?
MacOSX/10.5/resources/ReadMe.html
MacOSX/10.6/resources/ReadMe.html
MacOSX/Makefile
MacOSX/Makefile.in
MacOSX/build-package
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
doc/api.work/
doc/man.out/
etc/Makefile
etc/Makefile.in
etc/opensc.conf
f
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/Makefile
src/Makefile.in
src/common/.deps/
src/common/.libs/
src/common/Makefile
src/common/Makefile.in
src/common/compat_getopt_main
src/common/libcompat.la
src/common/libpkcs11.la
src/common/libscdl.la
src/libopensc/.deps/
src/libopensc/.libs/
src/libopensc/Makefile
src/libopensc/Makefile.in
src/libopensc/libopensc.la
src/libopensc/libopensc.pc
src/minidriver/.deps/
src/minidriver/Makefile
src/minidriver/Makefile.in
src/minidriver/opensc-minidriver.inf
src/pkcs11/.deps/
src/pkcs11/.libs/
src/pkcs11/Makefile
src/pkcs11/Makefile.in
src/pkcs11/onepin-opensc-pkcs11.la
src/pkcs11/opensc-pkcs11.la
src/pkcs11/pkcs11-spy.la
src/pkcs15init/.deps/
src/pkcs15init/.libs/
src/pkcs15init/Makefile
src/pkcs15init/Makefile.in
src/pkcs15init/libpkcs15init.la
src/scconf/.deps/
src/scconf/.libs/
src/scconf/Makefile
src/scconf/Makefile.in
src/scconf/libscconf.la
src/scconf/test-conf
src/tests/.deps/
src/tests/.libs/
src/tests/Makefile
src/tests/Makefile.in
src/tests/base64
src/tests/lottery
src/tests/p15dump
src/tests/pintest
src/tests/prngtest
src/tests/regression/Makefile
src/tests/regression/Makefile.in
src/tools/.deps/
src/tools/.libs/
src/tools/Makefile
src/tools/Makefile.in
src/tools/cardos-tool
src/tools/cryptoflex-tool
src/tools/eidenv
src/tools/netkey-tool
src/tools/opensc-explorer
src/tools/opensc-tool
src/tools/piv-tool
src/tools/pkcs11-tool
src/tools/pkcs15-crypt
src/tools/pkcs15-init
src/tools/pkcs15-tool
src/tools/westcos-tool
stamp-h1
win32/Makefile
win32/Makefile.in
win32/OpenSC.iss
win32/OpenSC.wxs
win32/versioninfo.rc
win32/winconfig.h
